.form{
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #3378;
    font-size: 20px;
    font-family: verdana;
    color: white
}
#tittle{
    color:white;
    text-align: center;
    font-size: 18px;
}
#container{
    background-image: url("https://s01.sgp1.cdn.digitaloceanspaces.com/article/107610-hxnhmfgfsi-1544252568.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    font-style: oblique;
    font-size: 20px;
    
}