.form{
    width: 300px;
    height: 500px;
    margin: auto;
    padding: 20px;
    background-color: #3378;
    font-size: 20px;
    font-family: verdana;
    color: white
}
#tittle{
    color:white;
    text-align: center;
    font-size: 18px;
    background-color: black
}
#container{
    background-size: cover;
    background-repeat: no-repeat;
    font-style: oblique;
    font-size: 26px;
    color:white;
    margin-left: 20px;
    margin-left: 20px;
    margin-bottom: 25px;

    
}
#left{
    margin-right: 15px;
}
#right{
    margin-left: 79px;
    font-size: 20px;
}
#bottom{
    text-align: center;

}